body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
}
#searchContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#searchInput {
    padding: 10px;
    font-size: 14px;
    width: 200px;
}
#suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 200px;
}
#suggestions li {
    padding: 10px;
    cursor: pointer;
}
#suggestions li:hover {
    background-color: #eee;
}
#clusterListContainer {
    margin-top: 10px;
}
#clusterList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}
#clusterList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
#clusterList li:hover {
    background-color: #eee;
}
canvas {
    flex-grow: 1;
    display: block;
}
#sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Sidebar versteckt sich rechts außerhalb des Bildschirms */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
}
#sidebar.open {
    right: 0; /* Sidebar wird sichtbar */
}
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
    font-size: 14px;
}
